---
layout: default
---

<div class="home">

  <h1 class="page-heading">Projects</h1>
  
  {{ content }}

  <ul class="post-list"> 
    <h2>
      <a class="post-link" href="http://github.com/moreheadm/nut-shell">Nut Shell</a>
    </h2>

    <h2>
      <a class="post-link" href="http://github.com/moreheadm/xanadu">Xanadu</a>
    </h2>

    <h2>
      <a class="post-link" href="http://github.com/emlaufer/NES-MusGen">NES Music Generation</a>
    </h2>
    </ul>

  <h1 class="page-heading">Resume</h1>

  <ul class="post-list">
    <h2>
      <a class=post-link" href={% link files/max_morehead.pdf %}>One page</a>
    </h2>
    </ul>

  <!--<ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->

  <h1> Frc Tutorials </h1>
  <ul class="post-list"> 
    {% for post in site.frc_tutorials %}
    <li>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>

  <h1> Pages </h1>
  <ul class="post-list"> 
    {% for post in site.miscellaneous_pages %}
    <li>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>


</div>
